* {
    margin: 0;
}

.center_element {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header {
    background-color: rgb(29, 86, 121);
    margin-bottom: 20px;
}

.header__title {
    margin: 20px 0;
    color: white;
}

.search_input {
    flex: 50%;
}

.word_details {
    margin-top: 20px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.margin {
    margin: 5px 0;
}

.center_left {
    display: flex;
    align-items: center;
}